@keyframes fadein {
  from { filter: opacity(0.0); }
  to { filter: opacity(1.0); }
}

@keyframes slideright {
  from {
    filter: opacity(0.0);
    transform: translateX(-50px);
  }
  to {
    filter: opacity(1.0);
    transform: translateX(0);
  }
}

.edit-button {
  position: absolute !important;
  top: 2rem !important;
  right: 2rem !important;
}

.ant-input.editable {
  animation: fadein 250ms ease-in;
  padding: 1rem !important;
}

.title-input {
  font-size: 120% !important;
}

.content-input {
  font-size: 100% !important;
  height: 600px !important;
  font-family: monospace;
}
