@keyframes zoomin {
  from {
    filter: opacity(0.0);
    transform: scale(0.85) translateY(-50px);
  }
  to {
    filter: opacity(1.0);
    transform: scale(1) translateY(0);
  }
}

.login-card {
  animation: zoomin 500ms cubic-bezier(.68,-0.55,.27,1.55);
}

.logout-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px !important;
}